.input-area-block {
  label {
    font-family: var(--family-secondary);
    color: var(--color-neutral) !important;
    letter-spacing: 2px;
    font-weight: 500 !important;
  }

  input {
    outline: 0;
    background: transparent !important;
    color: var(--color-neutral) !important;
    transition: 0.2s;

    &:active {
      border-color: #d3d3d3 !important;
    }
  }

  .error-span {
    color: red;
  }
}
