.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;

  position: fixed;
  top: 100px;
  right: 30px;

  a + a {
    margin-top: 10px;
  }

  a {
    color: var(--color-neutral);
    transition: 0.2s;
    &:hover {
      color: #d3d3d3;
    }
  }

  a svg {
    width: 40px;
    height: 40px;
  }

  @media (max-width: 700px) {
    a svg {
      width: 50px;
      height: 50px;
    }
  }

  @media (max-width: 425px) {
    position: fixed;
    top: 70%;
    bottom: 0;
    right: 100%;
    left: 20px;
  }

  a svg {
    width: 35px;
    height: 35px;
  }
}
