.text-area-block {
  label {
    font-family: var(--family-secondary);
    color: var(--color-neutral) !important;
    letter-spacing: 2px;
    font-weight: 500 !important;
  }

  textarea {
    outline: 0;
    background: transparent !important;
    color: var(--color-neutral) !important;
  }
}
