// variables

$family-primary: 'Roboto';
$family-secondary: 'Montserrat';
$color-background: #181b2b;
$color-neutral: #ffff;

:root {
  background: $color-background;
  --family-primary: 'Roboto';
  --family-secondary: 'Roboto';
  --color-background: #181b2b;
  --color-neutral: #ffff;
}

// imports
@import '../../node_modules/bulma/bulma.sass';

html,
body,
__#next {
  height: 100vh;
  color: $color-neutral;
}

.container {
  max-width: 900px;
}

img {
  border-radius: 5px;
}

.level-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
}

.animation-bar {
  &::after {
    content: '|';
    margin: 0 10px;
    opacity: 1;
    animation: blink 0.8s infinite;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
