// variables

$family-primary: 'Roboto';
$family-secondary: 'Montserrat';
$color-background: #181b2b;
$color-neutral: #ffff;

:root {
  background: $color-background;
  scroll-behavior: smooth;
  --family-primary: 'Roboto';
  --family-secondary: 'Montserrat';
  --color-background: #181b2b;
  --color-neutral: #ffff;
}

// imports
@import '../../node_modules/bulma/bulma.sass';

html,
body,
__#next {
  height: 100vh;
  color: $color-neutral;
}

.container {
  max-width: 1200px;
}

img {
  border-radius: 5px;
}

.level-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
}

.animation-bar {
  &::after {
    content: '|';
    margin: 0 10px;
    opacity: 1;
    animation: blink 0.8s infinite;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.section-about {
  .container {
    max-width: 900px;
  }
}

.section-main {
  .container {
    max-width: 900px;
  }
}

.section-stack {
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg {
      width: 150px;
      height: 150px;
    }
  }
}

.section-contact {
  .container {
    max-width: 900px;
  }

  .form-block {
    button {
      height: 40px;
      padding: 0 15px;
      border: 1px solid var(--color-neutral);
      outline: 0;
      font-weight: 500;
      background: transparent;
      border-radius: 2px;
      color: var(--color-neutral);
      text-transform: uppercase;
      letter-spacing: 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: 0.2s;

      &:hover,
      &:active {
        background: var(--color-neutral);
        color: var(--color-background);
      }
      &:disabled {
        background: var(--color-neutral);
        color: var(--color-background);
        cursor: auto;
      }
    }
  }
}

.removeScroll {
  overflow: hidden !important;
}
.set-opacity {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  background: var(--color-background);
  opacity: 0.9;
}

.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  button {
    margin-top: 20px;
  }
  span {
    letter-spacing: 2px;
  }
}
