// variables

$family-primary: 'Roboto';
$family-secondary: 'Montserrat';
$color-background: #181b2b;
$color-neutral: #ffff;

:root {
  background: $color-background;
  --family-primary: 'Roboto';
  --family-secondary: 'Montserrat';
  --color-background: #181b2b;
  --color-neutral: #ffff;
}

// imports
@import '../../node_modules/bulma/bulma.sass';

html,
body,
__#next {
  height: 100vh;
  color: $color-neutral;
}

.container {
  max-width: 1200px;
}

img {
  border-radius: 5px;
}

.level-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
}

.animation-bar {
  &::after {
    content: '|';
    margin: 0 10px;
    opacity: 1;
    animation: blink 0.8s infinite;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.section-about {
  .container {
    max-width: 900px;
  }
}

.section-main {
  .container {
    max-width: 900px;
  }
}

.section-stack {
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg {
      width: 150px;
      height: 150px;
    }
  }
}

.removeScroll {
  overflow: hidden !important;
}
.set-opacity {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  background: var(--color-background);
  opacity: 0.9;
}
